/ASL-Datasets
/data_aug/aug_dataset
/data_aug/aug_images
/data_aug/datasets
/test/
/train/
/Final_Dataset/
.ipynb_checkpoints/
*.DS_Store
/test_data/
/train_data/
*.tex
*.h5
*.jpg
/test_2/
/train_2/
/test_4/
/train_4/
